{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load static %}
{% load poll_extras %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>

  <body>
    
      <div id="container" style="min-width: 400px; max-width: 600px; height: 400px; margin: 0 auto"></div>
    
  </body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'js/curso_graphic.js' %}"></script>
{% endblock %}


