{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load static %}
{% load poll_extras %}

{% block content %}
    <body>

        <!-- Cabeçalho -->
        <div class="jumbotron text-center">
            <div class="logo">
                <img src="{% static "blog/img/logo.png" %}" width="70">
            </div><!-- Fim Logo -->

            <div class="cabecalho">
                <h1>Agenda FAT</h1>
                <h5>Agendamento dos Laboratórios de Informática</h5>
                <p>{{ msg }}</p> 
                <!-- <p>{{ post }}</p>  -->
            </div>

            <div class="btn_novo">
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agendar</button>
            </div><!--Fim btn-->

            <a href="#" onclick="overlay()">Click para interagir!</a>
            
        </div><!--Fim Cabeçalho -->

        <!-- Container dados do agendamento-->
        <div class="container">
            <div class="row">

                {% for posts in post %}
                <div class="col-sm-3">

                    {% if posts.unidade == "1" %}
                        <h3><a class="nounderline" href=" {% url 'post_detail' pk=posts.pk %} " >Laboratório {{posts.lab}} | <font color="tomato"><b>{{posts.unidade|display_unidade_tag}}</b></a></font></h3>
                    {% else %}
                        <h3><a class="nounderline" href=" {% url 'post_detail' pk=posts.pk %} " >Laboratório {{posts.lab}} | <font color="cornflowerblue"><b>{{posts.unidade|display_unidade_tag}}</b></a></font></h3>
                        <!-- <h3>Laboratório {{posts.lab}} | <font color="cornflowerblue" ><b>{{posts.unidade|display_unidade_tag}}</b></font></h3> -->
                    {% endif %}

                    {% display_curses_tag posts.course as courses %}
                    {% for course in courses %}
                        <p>Curso | {{ course }} {% if posts.period == "01" %}
                            <img  style="float:right; margin: 0 50px 0 0;" src="https://png.icons8.com/ios/50/666666/summer-filled.png" width="20">{%else%}
                            <img  style="float:right; margin: 0 50px 0 0;" src="https://png.icons8.com/ios-glyphs/50/666666/moon-symbol.png"width="20">{%endif%}
                        </p>
                    {% endfor %}

                    <p>Data | {{posts.create_date}}</p>

                    <!-- <img src="https://png.icons8.com/ios-glyphs/50/000000/moon-symbol.png"> -->
                    <!-- <img src="https://png.icons8.com/ios-glyphs/50/000000/sun.png"> -->


                </div>
                {% endfor %}
                
            </div>
        </div><!-- Fim Container dados do agendamento-->
        
    
        <!--Modal para adicionar evento-->
        <div class="container">          
            
            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">                    
                    <h4 class="modal-title">Cadastrar agendamento</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                        <!-- <script type="text/javascript" src="/admin/jsi18n/"></script>
                        <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/actions.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
                        <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script> -->

                        <!-- <script>
                         $('#AdminDateWidget').AdminDateWidget({
                            container:'#myModal',                            
                            });
                        </script> -->

                        <!--Form do agendamento-->
                        <div class="login-page">
                            <div class="form">

                                <form class="pure-form pure-form-aligned" method="POST">
                                    {% csrf_token %}

                                    <fieldset>
                                        {{ form.non_field_errors }}

                                        {% for field in form %}
                                            <div class="pure-control-group">
                                                {{ field.label_tag}}
                                                {{field}}
                                                {{field.errors}}
                                            </div>
                                        {% endfor %}

                                        <button class="btn btn-info btn-block"  id="btnim" type="submit" class="button">Salvar</button>

                                    </fieldset>
                                </form>

                            </div>

                        </div>

                        <!-- <form class="form" method="POST">                          
                            {% csrf_token %}

                            {{ form.as_p }}
                            
                            <button class="btn btn-info btn-block"  id="btnim" type="submit" class="button">Salvar</button>

                        </form> -->
                        <script>
                            $(function () {
                                $('.datetime-input').datetimepicker({
                                    format:'YYYY-MM-DD',
                                })
                            });

                            // $('.datetime-input').datetimepicker()
                            // .on('.datetime-input', function(ev){                 
                            //     $('.datetime-input').datetimepicker('hide');
                            // });
                        </script>
                    </div>
                    <!-- <div class="modal-footer">
                        <button class="btn btn-info btn-block"  id="btnim" type="submit" class="button">Salvar</button>
                        <button type="button" class="btn btn-block" data-dismiss="modal">Cancelar</button>
                    </div> -->
                </div>
                
                </div>
            </div>
            
        </div><!--Fim Modal-->

        <div id="overlay">
            <div>
                
                <p> Ops já temos um agendamento com essa data </p>
                
                Clique aqui para [<a href='#' onclick='overlay()'> fechar </a>]
            </div>
        </div><!--Fim overlay-->

        <script>
            function overlay(){
                el = document.getElementById("overlay");
                el.style.visibility = (el.style.visibility == "visible")? "hidden":"visible"
            }
        </script>

        

    </body>
    {% endblock %}
