

.btn_novo button{
    float: right;
    position: relative;
	margin: 0 15px 0 0;
}

.logo{
    float: right;
    width: 100px;
    position: relative;
    margin: 0 15px 0 0;
}

.container .row .col-sm-3 h3 a{
    text-decoration: none;
    color: #696969;
}

.cabecalho h1{
    text-decoration: none;
    color: #FF6347;
}


/* ajustes datepicker

.datepicker.dropdown-menu {
	z-index: 10002 !important;
}

.datepicker {
    transform: translate(0, 3.1em);
  }  */

.datetime-input{
    
}